@media only screen and (max-width: 767px) {    
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .header-top-menu {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        margin: 12px 0;
    }
    .logo img {
        max-width: 100%;
    }
    .slicknav_menu {
        display: block;
        background-color: transparent;
    }
    .working-process__icon::before {
        display: none;
    }
    #menu > .menu-menu-container {
        display: none !important;
    }
    .mainemenu ul {
        flex-direction: column;
    }
    
.menu-menu-container {
    background-color: #333;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 999;
  }
  .breadcumb-area h4 {
	font-size: 35px;
}

.header-area .container-fluid {
    padding: 0 10px;
  }
  .menu-menu-container .menu {
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  .menu-menu-container .menu li a {
    color: #fff;
  }
  .single-footer h4 {
	margin-bottom: 10px;
}
.scroll-top{
    display: none !important;
}
.almashaan-slider-content h4 {
	font-size: 40px;
}
.almashaan-slider-list {
	flex-direction: row;
	align-items: flex-start;
}
.almashaan-slider-content {
	margin-bottom: 30px;
}
.almashaan-slider-list li {
	display: flex;
	flex-direction: column;
    font-size: 14px;
}
.almashaan-slider-list li img {
	max-width: 20px !important;
}
  
}